.head__info {
  font-size: 3vmin;
  line-height: 1.3;
  text-align: center;
  margin-top: 3%;
  text-decoration: underline;
  text-decoration-color: red;
}

video {
  width: 50%;
  height: 40vmin;
}

.video {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
