.head__info {
  font-size: 3vmin;
  line-height: 1.3;
  text-align: left;
  margin-top: 2%;
}

.wrap__header-card {
  position: relative;
  width: fit-content;
  display: inline-flex;
  flex-direction: column;
  gap: 2.2vmin;
}

.header__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 27vmin;
  height: 21vmin;
  background-color: rgb(218, 215, 215);
}

.num {
  margin: 2% auto 0;
  display: flex;
  align-items: center;
  width: 6vmin;
  height: 6vmin;
  background-color: #dd1639;
  border-radius: 50px;
}

.head__num {
  margin: 0 auto;
  font-family: "Caveat Brush";
  font-style: normal;
  font-weight: 400;
  font-size: 8vmin;
  font-variant: small-caps;
  font-feature-settings: "pnum" on, "onum" on;
  color: #ffffff;
}

.card__head-item {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vmin;
  font-variant: small-caps;
  font-feature-settings: "pnum" on, "onum" on;
  color: #000000;
  text-align: center;
}

.card__head-text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5vmin;
  font-variant: small-caps;
  font-feature-settings: "pnum" on, "onum" on;
  color: #000000;
  text-align: center;
}

.card__head-red-text {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vmin;
  font-variant: small-caps;
  font-feature-settings: "pnum" on, "onum" on;
  color: #ffffff;
  text-align: center;
  line-height: 150%;
}

.card__head-red {
  background-color: #dd1639;
}

.arrow1 {
  position: absolute;
  top: 15%;
  left: 78%;
  width: 150px;
  height: 150px;
  background-image: url("../images/Arrow\ 1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(2.5deg);
}

.arrow2 {
  position: absolute;
  top: 55%;
  left: 78%;
  width: 150px;
  height: 150px;
  background-image: url("../images/Arrow\ 1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: rotate(2.5deg);
}

.wrap__video {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.video__img {
  width: 50vmin;
  height: 52vmin;
  background-image: url("../images/ok.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10%;
}

iframe {
  display: block;
  margin: 0 auto;
  width: 120vmin;
  height: 67.5vmin;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.video {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}

@media screen and (max-width: 1180px) {
  .head__info {
    font-size: 2.5vmin;
    margin-top: 1%;
  }
  .wrap__video {
    flex-direction: column-reverse;
  }
  .video__img {
    width: 40vmin;
    height: 40vmin;
  }
  iframe {
    width: 60vmin;
    height: 25vmin;
  }
  .header__card {
    width: 30vmin;
    height: 21vmin;
  }
  .arrow1 {
    left: 80%;
  }

  .arrow2 {
    left: 80%;
  }
}

@media screen and (max-width: 768px) {
  iframe {
    width: 45vmin;
    height: 25vmin;
  }
}

@media screen and (max-width: 428px) {
  .head__info {
    font-size: 3.5vmin;
    margin-top: 8%;
  }
  .wrap__video {
    flex-direction: column;
  }
  .video__img {
    width: 45vmin;
  }
  /* iframe {
    width: 100vmin;
    height: 44.8vmin;
  } */
  .header__card {
    box-sizing: border-box;
    width: 27vmin;
    height: 45vmin;
  }
  .head__num {
    font-size: 14vmin;
  }
  .num {
    width: 16vmin;
    height: 16vmin;
  }
  .arrow1 {
    display: none;
  }
  .arrow2 {
    display: none;
  }
  .wrap__header-card {
    flex-direction: initial;
    margin: 7vmin 0 3vmin;
  }
  .video {
    flex-direction: column;
  }
  .card__head-red-text {
    font-size: 1.7vmin;
    line-height: 1.7;
  }
  .card__head-item {
    font-size: 3.2vmin;
  }
  .card__head-text {
    font-size: 2.5vmin;
  }
}

@media screen and (max-height: 780px) {
  iframe {
    /* width: 74.5vmin;
    height: 42vmin; */
    width: 86.6vmin;
    height: 48.7vmin;
  }
}
@media screen and (max-height: 570px) {
  .head__info {
    font-size: 3vmin;
  }
  .video__img {
    height: 35vmin;
  }
}
