.panel3__heder {
  font-weight: 700;
  font-size: 2.5vmin;
  line-height: 5vmin;
}

.panel3__text {
  font-weight: 700;
  font-size: 2vmin;
  text-decoration: underline;
  text-decoration-color: brown;
}

.panel3__wrap-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.panel3__red-card {
  display: flex;
  align-items: center;
  padding-left: 2vmin;
  width: fit-content;
  height: fit-content;
  background-color: #dd1639;
  border-radius: 2vmin;
}

.red__card-text {
  font-weight: 700;
  font-size: 1.5vmin;
  line-height: 3vmin;
}

.panel3__item {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

.panel3__yellow-card {
  display: flex;
  align-items: center;
  padding-left: 2vmin;
  width: fit-content;
  height: fit-content;
  background-color: #f7f7d4;
  color: #000;
  border-radius: 2vmin;
}

.panel3__img-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2vmin;
  background-color: #efefef;
}
