.panel3__heder {
  font-weight: 700;
  font-size: 2.5vmin;
  line-height: 5vmin;
  margin-bottom: 3vmin;
}

.panel3__text {
  font-weight: 700;
  font-size: 2vmin;
  text-decoration: underline;
  text-decoration-color: brown;
}

.panel3__wrap-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3vmin;
}

.panel3__cross {
  width: 17vmin;
  height: 17vmin;
}

.panel3__check {
  width: 17vmin;
  height: 17vmin;
}

.panel3__red-card {
  display: flex;
  align-items: center;
  padding-left: 2vmin;
  width: fit-content;
  height: fit-content;
  background-color: #dd1639;
  border-radius: 2vmin;
}

.red__card-text {
  font-weight: 700;
  font-size: 1.5vmin;
  line-height: 3vmin;
}

.panel3__item {
  display: flex;
  flex-direction: column;
  gap: 2vmin;
}

.panel3__yellow-card {
  display: flex;
  align-items: center;
  padding-left: 2vmin;
  width: fit-content;
  height: fit-content;
  background-color: #f7f7d4;
  color: #000;
  border-radius: 2vmin;
}

.panel3__img-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2vmin;
  background-color: #efefef;
  margin-bottom: 5vmin;
}

@media screen and (max-width: 1200px) {
  .panel3__cross {
    width: 14vmin;
    height: 14vmin;
  }

  .panel3__check {
    width: 14vmin;
    height: 14vmin;
  }
  .red__card-text {
    font-size: 1vmin;
    line-height: 2vmin;
  }
}

@media screen and (max-width: 984px) {
  .panel3__cross {
    width: 10vmin;
    height: 10vmin;
  }

  .panel3__check {
    width: 10vmin;
    height: 10vmin;
  }
  .four-eye {
    width: 42vmin;
  }
}

@media screen and (max-width: 940px) {
  .panel3__cross {
    width: 8vmin;
    height: 8vmin;
  }

  .panel3__check {
    width: 8vmin;
    height: 8vmin;
  }
  .four-eye {
    width: 39vmin;
  }
}

@media screen and (max-width: 935px) {
  .panel3__heder {
    font-size: 2.3vmin;
  }
  .panel3__text {
    font-size: 2vmin;
  }
  .panel3__img-card {
    margin-bottom: 9vmin;
  }
}

@media screen and (max-width: 860px) {
  .panel3__heder {
    font-size: 2vmin;
  }
}

@media screen and (max-width: 830px) {
  .panel3__cross {
    width: 5vmin;
    height: 5vmin;
  }

  .panel3__check {
    width: 5vmin;
    height: 5vmin;
  }
}

@media screen and (max-width: 768px) {
  .four-eye {
    width: 30vmin;
  }
  .panel3__wrap-item {
    margin-bottom: 8vmin;
  }
  .panel3__img-card {
    margin-bottom: 14vmin;
  }
  .panel3__heder {
    margin-bottom: 10vmin;
  }
  .vikup {
    width: 20vmin;
  }
  .lada {
    width: 20vmin;
  }
  .money {
    width: 20vmin;
  }
}

@media screen and (max-width: 425px) {
  .panel3__wrap-item {
    grid-template-columns: 1fr;
    margin-bottom: 3vmin;
  }
  .four-eye {
    align-self: center;
    justify-self: center;
    width: 70vmin;
  }
  .panel3__heder {
    font-size: 2.5vmin;
  }
  .panel3__item {
    align-self: center;
    justify-self: center;
  }
  .panel3__cross {
    width: 13vmin;
    height: 13vmin;
  }

  .panel3__check {
    width: 13vmin;
    height: 13vmin;
  }
  .red__card-text {
    font-size: 2vmin;
  }
}

@media screen and (max-width: 400px) {
  .four-eye {
    width: 60vmin;
  }
  .panel3__heder {
    margin-bottom: 5vmin;
  }
  .panel3__text {
    font-size: 3vmin;
  }
  .panel3__img-card {
    margin-bottom: 3vmin;
  }
}

@media screen and (max-width: 375px) {
  .panel3__wrap-item {
    margin-bottom: 10vmin;
  }
}
