.fon {
  margin: 3vmin auto 0;
  display: flex;
  align-items: center;
  width: 80vw;
  height: 60vh;
  background-image: url("../images/fon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.name {
  font-weight: 700;
  font-size: 1.5vmin;
  line-height: 1.7vmin;
  display: flex;
  align-items: center;
  color: #000000;
}

.ya {
  display: block;
  margin: 0 auto;
}

.card__img {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.itc-slider {
  margin: 0 auto;
  max-width: 70%;
  position: fixed;
  z-index: 0;
}

.itc-slider__items {
  counter-reset: slide;
}

.itc-slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: space-around;
  counter-increment: slide;
  height: 35vmin;
  position: relative;
  background-blend-mode: multiply;
  background-color: #fff;
}

.slider__wrap-text {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.itc-slider__item--text {
  font-weight: 700;
  font-size: 2vmin;
  line-height: 2.3vmin;
  color: #000000;
}

.itc-slider__smoll--text {
  font-weight: 400;
  font-size: 1.3vmin;
  line-height: 1.5vmin;
  color: #000000;
}

.itc-slider {
  position: relative;
}

.itc-slider__wrapper {
  overflow: hidden;
  border-radius: 1em;
}

.itc-slider__items {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.itc-slider__transition-none {
  transition: none;
}

/* кнопки влево и вправо */
.itc-slider__btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vmin;
  height: 5vmin;
  color: #000;
  text-align: center;
  background: rgb(0 0 0 / 20%);
  border: none;
  transform: translateY(-170%);
  border-radius: 0.3em;
  cursor: pointer;
}

.itc-slider__btn_hide {
  display: none;
}

.itc-slider__btn_prev {
  left: 0;
}

.itc-slider__btn_next {
  right: 0;
}

.itc-slider__btn:hover,
.itc-slider__btn:focus {
  color: #000;
  text-decoration: none;
  background: rgba(231, 5, 5, 0.9);
  outline: 0;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 1% 0;
  align-items: center;
  text-align: center;
  background-color: gray;
  margin-top: 1vmin;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn__footer {
  display: block;
  margin: 0 auto;
  position: relative;
  font-size: 1.5vmin;
  border: 0;
  padding: 3% 10%;
  border-radius: 5em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  background: linear-gradient(120deg, darkmagenta, crimson, orange);
  background-size: 200% 100%;
  background-position: 100% 0;
  transition: background-position 0.5s;
}

.footer__btn-two {
  font-weight: 700;
  font-size: 1.5vmin;
  color: #4434f4;
  background: none;
  border: 0;
  cursor: pointer;
  margin-top: 5%;
}

.footer__tel {
  text-decoration: none;
  font-size: 2vmin;
  color: var(--var-fontcolor);
}

.footer__btn-two:hover {
  transform: scale(1.1, 1.1);
}

@media screen and (max-width: 1024px) {
  .fon {
    margin: 1vmin auto 0;
  }
}

@media screen and (max-width: 768px) {
  .fon {
    margin: 5vmin auto 0;
  }
  .itc-slider {
    max-width: 100%;
  }
  .itc-slider__item {
    height: 30vmin;
  }
  .itc-slider__btn {
    width: 4vmin;
    height: 4vmin;
  }
  .footer {
    margin-top: 4vmin;
  }
}

@media screen and (max-width: 428px) {
  .itc-slider__item {
    height: 50vmin;
  }
  .card__img > img {
    width: 20vmin;
  }
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer__logo > img {
    width: 15vmin;
    height: 7vmin;
  }
  .footer__tel {
    font-size: 2.5vmin;
  }
  .itc-slider__btn {
    top: 45%;
  }
  .fon {
    margin: 1vmin auto 0;
    width: 80vw;
    height: 100vmin;
    align-self: start;
  }
}

@media screen and (max-height: 570px) {
  .fon {
    height: 84vmin;
    margin-top: 5vmin;
  }
  .h2 {
    font-size: 5.5vmin;
  }
  .message__img {
    width: 20px;
    height: 18px;
  }
  .ya {
    height: 50px;
  }
}
