.itc-slider {
  margin: 0 auto;
  max-width: 100%;
  position: fixed;
  z-index: 0;
}

.itc-slider__items {
  counter-reset: slide;
}

.itc-slider__item {
  flex: 0 0 100%;
  max-width: 100%;
  user-select: none;
  will-change: transform;
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
  counter-increment: slide;
  height: 45vmin;
  position: relative;
}

.slider-page__text {
  margin-bottom: 3em;
  display: block;
  text-align: start;
  font-size: 4vmin;
  text-decoration: underline red;
}

.itc-slider__item--text {
  margin-left: 34%;
  display: block;
  max-width: 60%;
  font-size: 3vmin;
  text-align: end;
  text-shadow: 0 2px 3px rgba(14, 13, 13, 1);
}

.itc-slider__item::before {
  content: counter(slide) "/5";
  position: absolute;
  top: 10px;
  right: 20px;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  display: block;
}

.itc-slider__item:nth-child(1) {
  background-image: url("../images/013.jpg");
  background-size: cover;
}

.itc-slider__item:nth-child(2) {
  background-image: url("../images/poder.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.itc-slider__item:nth-child(3) {
  background-image: url("../images/21ef5319dae3e4283e29880c4b81a216.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.itc-slider__item:nth-child(4) {
  background-image: url("../images/c9d7c36fb71d2fc7ba483cb3fb4b6e39.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.itc-slider__item:nth-child(5) {
  background-image: url("../images/76241-united-money-photography-bill-dollar-one-dollar-one.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.itc-slider {
  position: relative;
}

.itc-slider__wrapper {
  overflow: hidden;
  border-radius: 1em;
}

.itc-slider__items {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.itc-slider__transition-none {
  transition: none;
}

/* кнопки влево и вправо */
.itc-slider__btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vmin;
  height: 5vmin;
  color: #000;
  text-align: center;
  background: rgb(0 0 0 / 20%);
  border: none;
  transform: translateY(-50%);
  border-radius: 0.3em;
  cursor: pointer;
}

.itc-slider__btn_hide {
  display: none;
}

.itc-slider__btn_prev {
  left: 0;
}

.itc-slider__btn_next {
  right: 0;
}

.itc-slider__btn:hover,
.itc-slider__btn:focus {
  color: #000;
  text-decoration: none;
  background: rgba(231, 5, 5, 0.9);
  outline: 0;
}

.itc-slider__btn::before {
  content: "";
  display: inline-block;
  width: 3vmin;
  height: 3vmin;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.itc-slider__btn_prev::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.itc-slider__btn_next::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* индикаторы */
.itc-slider__indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  margin: 0 15%;
  padding-left: 0;
  list-style: none;
}

.itc-slider__indicator {
  flex: 0 1 auto;
  box-sizing: content-box;
  width: 30px;
  height: 5px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(64, 62, 62, 0.8);
  background-clip: padding-box;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  cursor: pointer;
}

.itc-slider__indicator_active {
  background-color: orangered;
}
