:root {
  /* --var-bgcolor: rgb(144, 141, 141); */
  --var-bgcolor: rgb(248, 248, 248);
  /* --var-fontcolor: rgb(218, 212, 212); */
  --var-fontcolor: rgb(66, 63, 63);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --var-bgcolor: #282a2d; */
    --var-bgcolor: #252831;
    /* --var-bgcolor: #000; */
    --var-fontcolor: #eee;
  }
}

* {
  box-sizing: border-box;
}

* {
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

/* html {
  height: 100vh;
} */

body {
  background-repeat: repeat;
  background-color: var(--var-bgcolor);
  color: var(--var-fontcolor);
  font-family: "Gilroy-Medium", Arial, Helvetica, sans-serif;
  margin: 0;
  /* height: 100%; */
  overflow: hidden;
  perspective: 1000px;
  text-transform: uppercase;
}

h1 {
  font-size: 5vmin;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 3vmin;
}

h2 {
  text-align: start;
  font-size: 5vmin;
  font-weight: 900;
  line-height: 1.2;
}

.head__focus {
  color: red;
}

h3 {
  font-size: 4vmin;
  line-height: 1.1;
  margin: 0 0 1% 0;
  text-align: left;
}

h4 {
  font-size: 6vmin;
  line-height: 7vmin;
  text-align: left;
}

h5 {
  font-size: 4vmin;
  text-align: center;
}

h6 {
  font-size: 4.8vmin;
  text-align: center;
  line-height: 1.2;
}

.container {
  margin: 0 auto;
  padding: 3% 7%;
}

.site-wrap {
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.site-wrap.show-all {
  transform: rotateY(25deg) scale(0.2);
}

.show-all {
  background-color: rgba(40, 4, 240, 0.3);
}

.panel-wrap {
  height: 100vh;
  width: 100vw;
}

.panel-wrap {
  perspective: 2000px;
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
}

.panel-wrap.animate--shrink,
.panel-wrap.animate--tilt,
.panel-wrap.animate--tilt2 {
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.6s;
}

.panel {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vios, 1vh) * 100);
  position: absolute;
  align-items: center;
  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  will-change: transform;
  touch-action: pan-y;
  touch-action: pan-x;
}

.panel:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color 0.2s cubic-bezier(0.55, 0, 0.1, 1);
}

.show-all .panel:before {
  pointer-events: all;
}

.show-all .panel:hover:before {
  background-color: rgba(199, 28, 28, 0.1);
  cursor: pointer;
  z-index: 1;
}

.animate--shrink.animate .panel {
  transform: scale(0.3);
}

.animate--tilt.animate .panel {
  transform: scale(0.6) rotateY(-25deg);
}

.animate--tilt2.animate .panel {
  transform: scale(0.7) rotateX(35deg) rotateY(-15deg);
}

.panel[data-x-pos="-2"] {
  left: -200%;
}

.panel[data-x-pos="-1"] {
  left: -100%;
}

.panel[data-x-pos="1"] {
  left: 100%;
}

.panel[data-x-pos="2"] {
  left: 200%;
}

.panel[data-y-pos="-2"] {
  top: 200%;
}

.panel[data-y-pos="-1"] {
  top: 100%;
}

.panel[data-y-pos="1"] {
  top: -100%;
}

.panel[data-y-pos="2"] {
  top: -200%;
}

.panel__zoom {
  cursor: pointer;
  right: 1%;
  opacity: 0.5;
  position: absolute;
  top: 20%;
  transform: translateX(-50%) translateY(-12vmin);
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  user-select: none;
}

.panel__zoom:hover {
  opacity: 1;
}

.show-all .panel__zoom {
  pointer-events: none;
}

.panel__nav {
  cursor: pointer;
  opacity: 0.5;
  color: rgb(239, 17, 17);
  position: absolute;
  user-select: none;
  will-change: opacity;
  transition: 0.6s;
}

.panel__nav--left,
.panel__nav--right {
  writing-mode: vertical-lr;
  text-orientation: upright;
  transform: rotate(-90deg);
}

.panel__nav--up {
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
}

.panel__nav--left {
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  transform-origin: top left;
}

.panel__nav--left-top {
  left: 1rem;
  top: 1rem;
}

.panel__nav--left-down {
  bottom: 1rem;
  left: 1rem;
}

.panel__nav--right {
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%) translateX(100%);
  transform-origin: top right;
}

.panel__nav--right-top {
  right: 1rem;
  top: 1rem;
}

.panel__nav--right-down {
  bottom: 1rem;
  right: 1rem;
}

.panel__nav--down {
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.panel__nav:hover {
  opacity: 1;
  color: red;
  text-shadow: 0 0 3vmin #fff;
  transition: 0.3s;
}

.panel__nav-active {
  color: #390ee8;
  position: absolute;
  opacity: 1;
  text-shadow: 0 0 3vmin #390ee8;
  transition: 0.3s;
}

.panel__zoom {
  width: 30px;
  height: 20px;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-Bold.ttf") format("truetype"),
    url("../fonts/gilroy-Bold.woff") format("woff"),
    url("../fonts/gilroy-Bold.woff2") format("woff2"),
    url("../fonts/gilroy-Bold.eot?") format("eot");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-Medium.ttf") format("truetype"),
    url("../fonts/gilroy-Medium.woff") format("woff"),
    url("../fonts/gilroy-Medium.woff2") format("woff2"),
    url("../fonts/gilroy-Medium.eot?") format("eot");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-top: 7%;
  }
  h1 {
    font-size: 4vmin;
  }
  h2 {
    font-size: 4vmin;
  }
  h4 {
    font-size: 6vmin;
  }
}

@media screen and (max-width: 1005px) {
  h3 {
    font-size: 3.5vmin;
  }
}

@media screen and (max-width: 985px) {
  h6 {
    font-size: 3.5vmin;
  }
}

@media screen and (max-width: 861px) {
  h6 {
    font-size: 3vmin;
  }
}

@media screen and (max-width: 768px) {
  .panel__zoom {
    width: 20px;
    height: 13px;
    top: 18%;
  }
  .panel__nav {
    font-size: 3vmin;
  }
  h4 {
    font-size: 3vmin;
    line-height: 4vmin;
  }
  h3 {
    font-size: 5vmin;
  }
  h6 {
    font-size: 4.5vmin;
  }
}

@media screen and (max-width: 425px) {
  .container {
    padding: 8%;
  }
  h1 {
    font-size: 6vmin;
  }
  h2 {
    font-size: 5vmin;
  }
  h3 {
    font-size: 4vmin;
    margin-top: 2vmin;
  }
  h4 {
    text-align: center;
    font-size: 6vmin;
    line-height: 7vmin;
  }
  h5 {
    font-size: 6vmin;
  }
  h6 {
    font-size: 6vmin;
    margin-top: 3vmin;
    text-align: left;
  }
  h2 {
    font-size: 6vmin;
    margin-top: 5vmin;
  }
  .panel__nav {
    font-size: 4vmin !important;
  }
  .panel__zoom {
    width: 35px;
    height: 25px;
    top: 12%;
  }
  .panel__nav--down,
  .panel__nav--left-down,
  .panel__nav--right-down {
    bottom: 2%;
  }
}

@media screen and (max-width: 375px) {
  h3 {
    margin-top: 5vmin;
  }
  h6 {
    margin-top: 5vmin;
  }
}

/* @media screen and (max-heigth: 1080px) {
  .panel {
    height: calc(100vh - 300px);
  }
} */

/* типа запрет ротации моб устройства*/
@media (orientation: landscape) and (max-width: 768px) {
  body {
    display: none;
  }
  html:before {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 6vmin;
    border-radius: 10px;
    content: "Переверните устройство в портретный режим или откройте сайт с компьютера ;)";
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #dc9191;
    z-index: 999;
    text-align: center;
    width: 80%;
    height: 200px;
  }
}

/* @media screen and (max-device-height:900px) and (max-device-width:415px) and (orientation:portrait){} */

/* @media screen and (max-device-width:415px) and (orientation:landscape){portrait rules} */
